if SHIELD_GKEY_LEFT

config ZMK_KEYBOARD_NAME
    default "GKey"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_GKEY_LEFT || SHIELD_GKEY_RIGHT

config ZMK_SPLIT
    default y

config ZMK_BLE
    default y

endif

if SHIELD_GKEY_RIGHT

config ZMK_SPLIT_ROLE_PERIPHERAL
    default y

endif
