name: Build ZMK firmware
# NOTE: push trigger temporarily disabled
# on: [push, pull_request, workflow_dispatch]
on: [workflow_dispatch]

jobs:
  build:
    uses: zmkfirmware/zmk/.github/workflows/build-user-config.yml@v0.3
